bin/
build/cmake-artifacts/
build/cmake-artifacts-vs/
build/cmake-artifacts-ninja/
build/cmake-artifacts-ninja-clion/
build/cmake-artifacts-ninja-clion-release/
build/cmake-artifacts-make/
build/settings.sh
/.idea/editor.xml
/.idea/inspectionProfiles/Project_Default.xml
.idea/tools/External Tools.xml
.idea/vcs.xml
/.idea/cmake.xml
/build/cmake-artifacts-vs2022-clion/
