[submodule "external/opengl-glad"]
	path = external/opengl-glad
	url = https://github.com/SemionV/opengl-glad.git
[submodule "external/dory-boost-adapter"]
	path = external/dory-boost-adapter
	url = https://github.com/SemionV/dory-boost-adapter.git
[submodule "core/external/dory-boost-adapter"]
	path = core/external/dory-boost-adapter
	url = https://github.com/SemionV/dory-boost-adapter.git
