obj-debug/
obj-release/
lib/
bin/
.idea/
build/cmake-artifacts/
build/cmake-artifacts-vs/
build/cmake-artifacts-ninja/
build/cmake-artifacts-make/
*.gch
build/settings.sh
.vscode/c_cpp_properties.json
.vscode/launch.json
src/cmake-build-cmake-build-ninja-coverage/